Makefile.in
Makefile
compile
configure
depcomp
install-sh
missing
src/pcmac
src/pcmad
init/pcmad.lsb
init/pcmad.service
init/pcmad.upstart
config.h
config.h.in
.deps/
*.cache/
*~
*.1
*.5
*.log
*.m4
*.o
*.status
