Source: pcma
Priority: extra
Maintainer: Pierre Carrier <pierre@spotify.com>
Section: utils
Build-depends:
  debhelper (>= 7.0.50),
  autoconf,
  automake,
  pkg-config,
  libmsgpack-dev,
  libzmq-dev,
  libglib2.0-dev,
  asciidoc,
  xsltproc,
  docbook-xml,
  docbook-xsl
Standards-Version: 3.9.3.1

Package: pcma
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libmsgpack3,
 libzmq1,
 libglib2.0-0
Description: Page Cache My Assets
 pcma is a client/server infrastucture to (un)locks files in memory.
